 <!DOCTYPE html>
 <html lang="en">
 <head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>Index</title>
 </head>

 <style>
     *{
         margin: 0;
         padding: 0;
         box-sizing: border-box;
     }
     body{
         background: #000;
         color: #ccc;
         text-align: center;
     }
     h1{
         margin: 1.5rem;
     }

     h2{
         
         margin-top: 7rem ;

     }
     ul{
         list-style: none;
         margin-top:2rem ;
     }
     li{
         margin: 0 auto;
         margin-bottom: 1rem;
         width: 45.5%;
         border: 1px solid #eee;
         border-radius: 0.5rem;
         padding: 0.8rem;
         
     }
     li:hover{
         color: #000;
         background-color: #ccc;
     }
     a{
        color: #ccc;
        text-decoration: none; 
        font-size: 1.5rem; 
     }
     a:hover{
        color: #000;
     }
 </style>
 <body>
     <h1>WELCOME TO MY LOGIN PAGE</h1>

    
     <h2> GETTING STARTED </h2>
     <ul>
         <li> <a href="/login">Kindly Sign In if you already have an account.</a> </li>
         <li> <a href="/register">Or Register, then log in to maximize our service.</a> </li>
     </ul>
     
     
 </body>
 </html>
